.title {
    color: #75C270;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.login-container {
    display: block;
    margin: 0 auto;
    align-items: center;
    max-width: 450px;
}

.field-login {
    margin-bottom: 20px;
    width: 400px;
}

table {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }

#to-register {
    text-align: center;
    margin-top: 16px;
}

.message-login {
    color: black; 
    font-family: sans-serif;
    font-weight: bold
}

.success {
    padding: 20px;
    background-color: #EAFAE9;
    color: black;
    margin-bottom: 15px;
    margin-right: 30px;
  }

.closebtn {
margin-left: 15px;
color: black;
font-weight: bold;
float: right;
font-size: 22px;
line-height: 20px;
cursor: pointer;
transition: 0.3s;
}

.closebtn:hover {
color: black;
}

@media all and (max-width: 450px) {
    .field-login {
        margin-bottom: 20px;
        width: 200px;
    }
}

