.container {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}

.about-application{
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
}

#motto {
    margin-top: 24px;
}

.application{
    padding: 0 15px;
    margin: 0 auto 0;
}

#logo-top {
    max-width:400px;
    display: block;
    margin: auto;
    padding-bottom: 16px;
}

.subtitle {
    color: rgba(117, 194, 112, 1);
    font-weight: bold;
    text-align: center;
}

.feature-img {
    max-height: 200px;
}

#donate-img {
    max-width: 220px;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
}

#calculate-img {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
}

.feature {
    margin-top: 36px;
}

.container-top2-button {
    margin-top: 52px;
}

.image-application {
    max-width: 450px;
}

.text {
    color: white;
    text-align: left;
}

.card {
    background-color: #75C270;
    max-width: 540px;
    border: none;
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.06), 4px 4px 6px rgba(0, 0, 0, 0.08);
    height: 100%;
}

.card:hover {
    background: #4A9745;
    box-shadow: 4px 4px 8px rgba(98, 98, 98, 0.4);
    transform: scale(1.02);
    transition: 0.3s;
}

.divider-card {
    border: none;
    height: 2px;
    background-color: white;
}

#container-data {
    display: block;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.cards-donate {
    margin-top: 32px;
}

.card-img {
    max-width:100%;
    max-height:100%;
    display: block;
}

.sec-card {
    margin-bottom: 32px;
}

.badge {
    display: flex;
}

@media all and (max-width: 450px) {
    .image-application {
        max-width: 300px;
    }

    .card-button {
        width: 60px;
        height: 30px;
        font-size: 10px;
        padding: 0px 5px;
        border-radius: 5px;
    }

    .badge {
        display: flex;
    }
}


@media all and (max-width: 300px) {
    .image-application {
        max-width: 280px;
    }

    .card-button {
        width: 40px;
        height: 20px;
        font-size: 8px;
        padding: 0px 5px;
        border-radius: 5px;
    }
}