#form-help {
    text-align: center;
    margin-top: 16px;
}

.btn-green {
    display: block;
    margin: 0 auto;
    margin-top: 16px;
}

#illustration {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding-bottom: 16px;
}

